// Link
.link--p19 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    padding: 0 0 25px 0;
    z-index: 980;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Link > Page
.page--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 1;
      z-index: 999;
    }
  }
}
// Link > Page > Sous page
.sous-page--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    font-family: Roboto;
    padding: 32px 32px 32px 32px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Link > Page > Sous page > Titre
.titre--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
  }
}
// Link > Page > Sous page > Texte
.texte--p19 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Link > Page > Sous page > h3
.try-it--p19 {
  &.outer-style {
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.17em;
    font-weight: bold;
    text-align: center;
  }
}
// Link > Page > Sous page > Global
.global--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Link > Page > Sous page > Global > Haut
.haut--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: space-between;
  }
}
// Link > Page > Sous page > Global > Haut > text
.html-demo-lt-a-gt--p19 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Link > Page > Sous page > Global > Haut > text 1
.reset--p19 {
  &.outer-style {
    &.state-hover:not(#\ ) {
      .reset--p19 {
        &.property-style {
          background: linear-gradient(0deg,#ccccccff,#ccccccff);
        }
      }
    }
    padding: 10px;
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
  }
}
// Link > Page > Sous page > Global > Bas
.bas--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    border-width: 1px 0 0 0;
    border-style: solid;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Link > Page > Sous page > Global > Bas > Gauche
.gauche--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Link > Page > Sous page > Global > Bas > Gauche > Code Preview
.code-preview--p19 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Link > Page > Sous page > Global > Bas > Droite
.droite--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    border-width: 0 0 0 1px;
    border-style: solid;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Link > Page > Sous page > Global > Bas > Droite > Zone de commentaire
.you-can-reach-michael--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    padding: 5px;
  }
}
// Link > Page > Sous page > Global > Bas > Droite > text
.website--p19 {
  &.outer-style {
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    text-decoration: underline;
    padding: 15px;
    cursor: pointer;
  }
}
// Link > Page > Sous page > Global > Bas > Droite > text
.email--p19 {
  &.outer-style {
    z-index: 997;
  }
  &.property-style {
    overflow: hidden;
    text-decoration: underline;
    padding: 15px;
    cursor: pointer;
  }
}
// Link > Page > Sous page > Global > Bas > Droite > text
.phone--p19 {
  &.outer-style {
    z-index: 996;
  }
  &.property-style {
    overflow: hidden;
    text-decoration: underline;
    padding: 15px;
    cursor: pointer;
  }
}
// Link > Page > Sous page > Ready
.ready--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 996;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Link > Page > Sous page > Ready > Accessibility
.accessibility--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
  }
}
// Link > Page > Sous page > Ready > text
.continue-your-learning--p19 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Link > Page > Sous page > Ready > Global
.global-container--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: space-between;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Link > Page > Sous page > Ready > Global > Gauche
.gauche-container--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 1000;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Link > Page > Sous page > Ready > Global > Gauche > Edit
.edit--p19 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    color: #ff2d2dff;
    text-align: center;
    padding: 30px;
  }
}
// Link > Page > Sous page > Ready > Global > Gauche > Droite
.droite-container--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Link > Page > Sous page > Ready > Global > Gauche > Droite > text
.icon-fonts--p19 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Link > Page > Sous page > Ready > Global > Gauche > Droite > text
.features--p19 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Link > Page > Sous page > Ready > Global > Milieu
.milieu--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 999;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Link > Page > Sous page > Ready > Global > Milieu > Colonne
.colonne--p19 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    color: #036fffff;
    text-align: center;
    padding: 30px;
  }
}
// Link > Page > Sous page > Ready > Global > Milieu > Droite
.droite-1--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Link > Page > Sous page > Ready > Global > Milieu > Droite > text
.buttons--p19 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Link > Page > Sous page > Ready > Global > Milieu > Droite > text
.components--p19 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Link > Page > Sous page > Ready > Global > Droite
.droite-2--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 998;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Link > Page > Sous page > Ready > Global > Droite > Button
.button--p19 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    color: #074fa9ff;
    text-align: center;
    padding: 30px;
  }
}
// Link > Page > Sous page > Ready > Global > Droite > Droite@
.droite-3--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Link > Page > Sous page > Ready > Global > Droite > Droite@ > text
.cards--p19 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Link > Page > Sous page > Ready > Global > Droite > Droite@ > text
.components-text--p19 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Link > Right Panel
.right-panel--p19 {
  &.outer-style {
    width: 250px;
    min-width: 250px;
    position: sticky;
    z-index: 999;
    inset: 0px auto auto 0px;
  }
  &.template-style {
    max-width: 250px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 0;
      width: 100%;
      min-width: 0;
      overflow: inherit;
      position: inherit;
      z-index: 1000;
      inset: inherit;
      transform: translateX(0) translateY(0);
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Link > Right Panel > Sous Nav
.sous-nav--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1001;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Link > Right Panel > Sous Nav > Container
.container--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Link > Right Panel > Sous Nav > Container > text
.contenu--p19 {
  &.outer-style {
    padding: 16px 0 8px 16px;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.75rem;
  }
}
// Link > Right Panel > Sous Nav > Container 1
.container-1--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 0 24px;
    z-index: 998;
  }
  &.property-style {
    color: #6c6c6cff;
    border-width: 0 0 0 3px;
    border-color: #9c9c9cff;
    border-style: solid;
    padding: 0 0 0 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Link > Right Panel > Sous Nav > Container 1 > titre
.titre-text--p19 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .titre-text--p19 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Link > Right Panel > Sous Nav > Container 1 > titre
.titre-1--p19 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .titre-1--p19 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Link > Right Panel > Sous Nav > Container 1 > titre
.titre-2--p19 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .titre-2--p19 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Link > Right Panel > Sous Nav > Container 1 > sous-categorie
.sous-categorie--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Link > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-titre
.sous-titre--p19 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre--p19 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.25rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Link > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie
.sous-sous-categorie--p19 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Link > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.sous-titre-text--p19 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre-text--p19 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Link > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.sous-titre-1--p19 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre-1--p19 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Link > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.sous-titre-2--p19 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre-2--p19 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Link > Icon
.icon--p19 {
  &.outer-style {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    position: absolute;
    z-index: 997;
    inset: auto 50px 50px auto;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-radius: 9999px 9999px 9999px 9999px;
    overflow: hidden;
    font-size: 33.333333333333336px;
    text-align: center;
    cursor: pointer;
  }
  &.template-style {
    max-width: 50px;
    max-height: 50px;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 2;
      z-index: 998;
    }
  }
}