.accueil-container{
  display: grid;
  height: 100vh;
  grid-template-rows: 40% 10% 20% 30%;
}
.container-logo{
  grid-row: 1;
  height: 20em;
}
.img-accueil{
  height: 15em !important;
  width: 15em !important;
  margin: auto;
}
.big-title{
  text-align: center;
  font-size: 50px;
  height: 1.5em;
}
.start-navigation-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  grid-row: 2;
}
.start-button button{
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.start-button button:hover{
  border: 1px solid black;
}
.start-footer-container{
  grid-row: 4;
  width: 100%;
  text-align: center;
}
.image-footer{
  height: 50px;
  margin:auto;
}
.social-icon{
  margin: 5px;
}
.footer-end-link{
  margin: auto;
}
