// Selects
.selects--p28 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    padding: 0 0 25px 0;
    z-index: 971;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Selects > Page
.page--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 1;
      z-index: 999;
    }
  }
}
// Selects > Page > Sous page
.sous-page--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    font-family: Roboto;
    padding: 32px 32px 32px 32px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Page > Sous page > h1
.selects-h-1--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
  }
}
// Selects > Page > Sous page > text
.select-fields-components--p28 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Selects > Page > Sous page > h2
.usage--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
  }
}
// Selects > Page > Sous page > Container
.container--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Page > Sous page > Container > Haut
.haut--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    border-width: 0 0 1px 0;
    border-style: solid;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: end;
  }
}
// Selects > Page > Sous page > Container > Haut > Icon
.icon--p28 {
  &.outer-style {
    padding: 10px;
    z-index: 1000;
  }
  &.property-style {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
}
// Selects > Page > Sous page > Container > Haut > Icon
.icon-1--p28 {
  &.outer-style {
    padding: 10px;
    z-index: 999;
  }
  &.property-style {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
}
// Selects > Page > Sous page > Container > Code Preview
.code-preview--p28 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 999;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-width: 0 0 1px 0;
    border-style: solid;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Selects > Page > Sous page > Container > Bas
.bas--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.property-style {
    padding: 20px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    align-items: center;
  }
}
// Selects > Page > Sous page > Container > Bas > Container
.container-1--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Selects > Page > Sous page > Container > Bas > Container > Choix simple
.choix-simple--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 1000;
  }
  &.property-style {
    border-width: 0 0 1px 0;
    border-style: solid;
    padding: 10px;
  }
}
// Selects > Page > Sous page > Container > Bas > Container > Choix simple
.choix-simple-select-input--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: #ccccccff;
    border-width: 0 0 1px 0;
    border-color: #000000ff;
    border-style: solid;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    padding: 10px;
  }
}
// Selects > Page > Sous page > Container > Bas > Container
.container-2--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Selects > Page > Sous page > Container > Bas > Container > Choix simple
.choix-simple-1--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 1000;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
  }
}
// Selects > Page > Sous page > Container > Bas > Container > Choix simple
.choix-simple-2--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    padding: 10px;
  }
}
// Selects > Page > Sous page > h2
.disabled--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 996;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
  }
}
// Selects > Page > Sous page > text
.applying-the-disabled--p28 {
  &.outer-style {
    z-index: 995;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Selects > Page > Sous page > Container
.container-3--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 994;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Page > Sous page > Container > Haut
.haut-container--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    border-width: 0 0 1px 0;
    border-style: solid;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: end;
  }
}
// Selects > Page > Sous page > Container > Haut > Icon
.icon-2--p28 {
  &.outer-style {
    padding: 10px;
    z-index: 1000;
  }
  &.property-style {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
}
// Selects > Page > Sous page > Container > Haut > Icon
.icon-3--p28 {
  &.outer-style {
    padding: 10px;
    z-index: 999;
  }
  &.property-style {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
}
// Selects > Page > Sous page > Container > Code Preview
.code-preview-1--p28 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 999;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-width: 0 0 1px 0;
    border-style: solid;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Selects > Page > Sous page > Container > Bas
.bas-container--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.property-style {
    padding: 20px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    align-items: center;
  }
}
// Selects > Page > Sous page > Container > Bas > Choix simple
.choix-simple-3--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 1000;
  }
  &.property-style {
    border-width: 0 0 1px 0;
    border-style: dotted;
    padding: 10px;
  }
}
// Selects > Page > Sous page > Ready
.ready--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 993;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Selects > Page > Sous page > Ready > Accessibility
.accessibility--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
  }
}
// Selects > Page > Sous page > Ready > text
.continue-your-learning--p28 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Selects > Page > Sous page > Ready > Global
.global--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: space-between;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Selects > Page > Sous page > Ready > Global > Gauche
.gauche--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 1000;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Page > Sous page > Ready > Global > Gauche > Edit
.edit--p28 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    color: #ff2d2dff;
    text-align: center;
    padding: 30px;
  }
}
// Selects > Page > Sous page > Ready > Global > Gauche > Droite
.droite--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Page > Sous page > Ready > Global > Gauche > Droite > text
.icon-fonts--p28 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Selects > Page > Sous page > Ready > Global > Gauche > Droite > text
.features--p28 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Selects > Page > Sous page > Ready > Global > Milieu
.milieu--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 999;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Page > Sous page > Ready > Global > Milieu > Colonne
.colonne--p28 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    color: #036fffff;
    text-align: center;
    padding: 30px;
  }
}
// Selects > Page > Sous page > Ready > Global > Milieu > Droite
.droite-container--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Page > Sous page > Ready > Global > Milieu > Droite > text
.buttons--p28 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Selects > Page > Sous page > Ready > Global > Milieu > Droite > text
.components--p28 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Selects > Page > Sous page > Ready > Global > Droite
.droite-1--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 998;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Page > Sous page > Ready > Global > Droite > Button
.button--p28 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    color: #074fa9ff;
    text-align: center;
    padding: 30px;
  }
}
// Selects > Page > Sous page > Ready > Global > Droite > Droite@
.droite-2--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Page > Sous page > Ready > Global > Droite > Droite@ > text
.cards--p28 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Selects > Page > Sous page > Ready > Global > Droite > Droite@ > text
.components-text--p28 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 5px;
  }
}
// Selects > Right Panel
.right-panel--p28 {
  &.outer-style {
    width: 250px;
    min-width: 250px;
    position: sticky;
    z-index: 999;
    inset: 0px auto auto 0px;
  }
  &.template-style {
    max-width: 250px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 0;
      width: 100%;
      min-width: 0;
      overflow: inherit;
      position: inherit;
      z-index: 1000;
      inset: inherit;
      transform: translateX(0) translateY(0);
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Selects > Right Panel > Sous Nav
.sous-nav--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1001;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Right Panel > Sous Nav > Container
.container-4--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Selects > Right Panel > Sous Nav > Container > text
.contenu--p28 {
  &.outer-style {
    padding: 16px 0 8px 16px;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.75rem;
  }
}
// Selects > Right Panel > Sous Nav > Container 1
.container-1-container--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 0 24px;
    z-index: 998;
  }
  &.property-style {
    color: #6c6c6cff;
    border-width: 0 0 0 3px;
    border-color: #9c9c9cff;
    border-style: solid;
    padding: 0 0 0 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Right Panel > Sous Nav > Container 1 > titre
.titre--p28 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .titre--p28 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Selects > Right Panel > Sous Nav > Container 1 > titre
.titre-text--p28 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .titre-text--p28 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Selects > Right Panel > Sous Nav > Container 1 > titre
.titre-1--p28 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .titre-1--p28 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Selects > Right Panel > Sous Nav > Container 1 > sous-categorie
.sous-categorie--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Selects > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-titre
.sous-titre--p28 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre--p28 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.25rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Selects > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie
.sous-sous-categorie--p28 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Selects > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.sous-titre-text--p28 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre-text--p28 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Selects > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.sous-titre-1--p28 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre-1--p28 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Selects > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.sous-titre-2--p28 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre-2--p28 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Selects > Icon
.icon-4--p28 {
  &.outer-style {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    position: absolute;
    z-index: 997;
    inset: auto 50px 50px auto;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-radius: 9999px 9999px 9999px 9999px;
    overflow: hidden;
    font-size: 33.333333333333336px;
    text-align: center;
    cursor: pointer;
  }
  &.template-style {
    max-width: 50px;
    max-height: 50px;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 2;
      z-index: 998;
    }
  }
}