// LanguageSelection
.language-selection--p30 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    padding: 0 0 25px 0;
    z-index: 969;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// LanguageSelection > Main
.main--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 1;
      z-index: 999;
    }
  }
}
// LanguageSelection > Main > Sous Main
.sous-main--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    font-family: Roboto;
    padding: 32px 32px 32px 32px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// LanguageSelection > Main > Sous Main > Titre
.titre--p30 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 3rem;
    font-weight: 400;
    padding: 0 0 15px 0;
  }
}
// LanguageSelection > Main > Sous Main > text 1
.the-language-selection--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// LanguageSelection > Main > Sous Main > Utilisation
.utilisation--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 998;
  }
  &.property-style {
    padding: 25px 0 0 0;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// LanguageSelection > Main > Sous Main > Utilisation > Titre-categorie
.titre-categorie--p30 {
  &.outer-style {
    padding: 0 0 12px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2.125rem;
    font-weight: 400;
  }
}
// LanguageSelection > Main > Sous Main > Container 3
.container-3--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container
.container--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container 2
.container-2--p30 {
  &.outer-style {
    width: 50%;
    min-width: 0;
    align-items: center;
    justify-content: center;
    padding: 5px;
    z-index: 1000;
  }
  &.inner-style {
    height: auto;
    width: auto;
  }
  &.property-style {
    padding: 5px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container 2 > Language Selection
.language-selection-1--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.property-style {
    padding: 15px 200px 15px 200px;
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container
.container-1--p30 {
  &.outer-style {
    width: 50%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
  &.property-style {
    padding: 5px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container > Container
.container-4--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container > Container > Display name
.display-name--p30 {
  &.outer-style {
    padding: 5px;
    z-index: 1000;
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container > Container > text
.display-name-text--p30 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container > Container
.container-5--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container > Container > Full Name
.full-name--p30 {
  &.outer-style {
    padding: 5px;
    z-index: 1000;
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container > Container > text
.full-name-text--p30 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container > Container
.container-6--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container > Container > Code
.code--p30 {
  &.outer-style {
    padding: 5px;
    z-index: 1000;
  }
}
// LanguageSelection > Main > Sous Main > Container 3 > Container > Container > Container > Code
.code-text--p30 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// LanguageSelection > Main > Sous Main > API
.api--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 996;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// LanguageSelection > Main > Sous Main > API > Code Preview
.code-preview--p30 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// LanguageSelection > Right Panel
.right-panel--p30 {
  &.outer-style {
    width: 250px;
    min-width: 250px;
    position: sticky;
    z-index: 999;
    inset: 0px auto auto 0px;
  }
  &.template-style {
    max-width: 250px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 0;
      width: 100%;
      min-width: 0;
      overflow: inherit;
      position: inherit;
      z-index: 1000;
      inset: inherit;
      transform: translateX(0) translateY(0);
    }
    &.template-style {
      max-width: none;
    }
  }
}
// LanguageSelection > Right Panel > Sous Nav
.sous-nav--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1001;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// LanguageSelection > Right Panel > Sous Nav > Container
.container-7--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// LanguageSelection > Right Panel > Sous Nav > Container > text
.contents--p30 {
  &.outer-style {
    padding: 16px 0 8px 16px;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.75rem;
  }
}
// LanguageSelection > Right Panel > Sous Nav > Container 1
.container-1-container--p30 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 0 24px;
    z-index: 998;
  }
  &.property-style {
    color: #6c6c6cff;
    border-width: 0 0 0 3px;
    border-color: #9c9c9cff;
    border-style: solid;
    padding: 0 0 0 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// LanguageSelection > Right Panel > Sous Nav > Container 1 > titre
.titre-text--p30 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .titre-text--p30 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// LanguageSelection > Icon
.icon--p30 {
  &.outer-style {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    position: absolute;
    z-index: 997;
    inset: auto 50px 50px auto;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-radius: 9999px 9999px 9999px 9999px;
    overflow: hidden;
    font-size: 33.333333333333336px;
    text-align: center;
    cursor: pointer;
  }
  &.template-style {
    max-width: 50px;
    max-height: 50px;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 2;
      z-index: 998;
    }
  }
}